<div class="col-sm-8 rounded-right py-5 mx-auto">
    <h3 class="mt-3">User Profile</h3>
    <hr class="badge-primary mt-0 w-25">
    <div class="row">
        <div class="col-sm-6">
            <p class="font-weight-bold">Email:</p>
            <h6 class="text-muted">{{userDetails.email}}</h6>
        </div>
        <form action="">
    </div>
    <div class="row pt-3">
        <div class="col-sm-6">
            <p class="font-weight-bold">Username: <a href="" id="username-edit-btn"
                    class="fa-regular fa-pen-to-square username-edit-icon"></a>
            </p>
            <div class="input-group mb-3">
                <input id="username-input" class="text-muted form-control" type="text" value={{userDetails.username}}
                    disabled></input>
                <div class="input-group-append">
                    <button id="username-save-btn" class="btn btn-outline-secondary" type="button"
                        onclick="updateUserProfile('username', this)" disabled>Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-sm-6">
            <p class="font-weight-bold">Password: <a href="" class="fa-regular fa-pen-to-square password-edit-icon"></a>
            </p>
            <div class="input-group mb-3">
                <input id="password-input" class="text-muted form-control" type="password" value="**********"
                    disabled></input>
                <div class="input-group-append">
                    <button id="password-save-btn" class="btn btn-outline-secondary" type="button"
                        onclick="updateUserProfile('password', this)" disabled>Save</button>
                </div>
                <div id="password-validation-msg" class="text-danger py-3"></div>
            </div>
        </div>
    </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#username-edit-btn').click(function (event) {
            event.preventDefault();
            const inputField = $('#username-input')
            const saveButton = $('#username-save-btn')
            saveButton.removeAttr('disabled');
            inputField.removeAttr('disabled');
            inputField.removeClass('text-muted').addClass('text-primary');
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('.password-edit-icon').click(function (event) {
            event.preventDefault();
            const inputField = $('#password-input')
            const saveButton = $('#password-save-btn')
            //saveButton.removeAttr('disabled');
            saveButton.prop('disabled', false);
            inputField.prop('disabled', false);
            inputField.removeClass('text-muted').addClass('text-primary');
        });
    });
</script>

<script>
    function updateUserProfile(field, button) {
        const inputField = $('#' + field + '-input');
        const value = inputField.val();

        if (field === 'password') {
            const regex = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/;
            if (!regex.test(value)) {
                $('#password-validation-msg').text('Password needs to have at least 6 characters and must contain at least one number, one lowercase, and one uppercase letter.');
                return;
            } else {
                $('#password-validation-msg').text('');
            }
        }

        $.ajax({
            url: '/auth/user-profile',
            type: 'POST',
            data: {
                field: field,
                value: value
            },
            success: function (response) {
                inputField.prop('disabled', true);
                $(button).prop('disabled', true);
                inputField.removeClass('text-primary').addClass('text-muted');
            },
            error: function (error) {
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/auth/user-details',
            type: 'GET',
            success: function (userDetails) {
                $('#username-input').val(userDetails.username);
            },
            error: function (error) {
            }
        });
    });
</script>