<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-lg-2 my-auto">
        <h1>Iron Notes</h1>
        <p class="lead">Join Iron Notes today and unlock the full
      potential of your ideas. Start simplifying your life and taking control of
      your thoughts like never before. Register now and embark on a note-taking
      journey that will transform the way you work, create, and achieve.</p>
        <p>
          <a href="/auth/signup" class="btn btn-primary shadow mr-2">Signup for free</a>
          <a href="/auth/login" class="btn btn-outline-primary">Login</a>
        </p>
      </div>
      <div class="col-lg-4 order-lg-1">
        <img
          src="images/hero-image2.png"
          alt="landing image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <h2>What We Do?</h2>
    <p class="text-muted mb-5">Simplify your life, one note at a time.</p>
    <p class="text-muted mb-5">At Iron Notes, we understand the importance of
      capturing your ideas effortlessly, anytime, anywhere. Our note-taking app
      offers a range of benefits that will revolutionize the way you organize
      and manage your thoughts.</p>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-3">
       <p> <svg
          class="lnr text-primary services-icon"
          style="width: 40px; height: 40px;"
        >
          <use xlink:href="#lnr-rocket"></use>
        </svg>
        </p>
        <h5>Boost Your Productivity</h5>
        <p class="text-muted">With Iron Notes, you'll have a powerful tool at
          your fingertips, helping you stay focused and accomplish more.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
       <p> <svg
          class="lnr text-primary services-icon"
          style="width: 40px; height: 40px;"
        >
          <use xlink:href="#lnr-inbox"></use>
        </svg>
        </p>
        <h5>Stay Organized</h5>
        <p class="text-muted">Our intuitive interface allows you to categorize
          and tag your notes, making it easy to find what you need when you need
          it.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
       <p> <svg
          class="lnr text-primary services-icon"
          style="width: 40px; height: 40px;"
        >
          <use xlink:href="#lnr-pencil"></use>
        </svg>
        </p>
        <h5>Never Miss a Thought</h5>
        <p class="text-muted">Capture your ideas in an instant, whether you're
          attending a meeting, brainstorming, or simply struck by inspiration.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 mb-3">
       <p> <svg
          class="lnr text-primary services-icon"
          style="width: 40px; height: 40px;"
        >
          <use xlink:href="#lnr-sync"></use>
        </svg>
        </p>
        <h5>Sync Across Devices</h5>
        <p class="text-muted">Seamlessly access your notes on all your devices,
          ensuring that your ideas are always within reach, no matter where you
          are.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
       <p> <svg
          class="lnr text-primary services-icon"
          style="width: 40px; height: 40px;"
        >
          <use xlink:href="#lnr-magic-wand"></use>
        </svg>
        </p>
        <h5>Collaborate Effortlessly</h5>
        <p class="text-muted">Share notes with colleagues, friends, or family
          members, allowing for seamless collaboration and idea exchange.</p>
      </div>
      <div class="col-sm-6 col-lg-4 mb-3">
       <p> <svg
          class="lnr text-primary services-icon"
          style="width: 40px; height: 40px;"
        >
          <use xlink:href="#lnr-database"></use>
        </svg>
        </p>
        <h5>Keep Your Data Secure</h5>
        <p class="text-muted">We prioritize the security and privacy of your
          notes, ensuring that your valuable information remains confidential
          and protected.</p>
      </div>
    </div>
  </div>
</section>